<div class="main-content">

  <div class="action-buttons">
    <div class="action-button"><a href="#donate"><%= image_tag("donate.jpg") %></div>
    <div class="action-button"><a href="#suport"><%= image_tag("support.jpg") %></div>
    <div class="action-button"><a href="#act"><%= image_tag("act.jpg") %></a></div>
  </div>



  <div class="nav">
    <div class="nav-item">
      <a href="#platform"><%= image_tag("platform.jpg") %></a>
    </div>                               
    <div class="nav-item">               
      <a href="#news"><%= image_tag("news.jpg") %></a>
    </div>                               
    <div class="nav-item">               
      <a href="#events"><%= image_tag("events.jpg") %></a>
    </div>                               
    <div class="nav-item">               
      <a href="#story"><%= image_tag("story.jpg") %></a>
    </div>
  </div>
  
  <div id="slider-box">
    &nbsp;
    <ul class="aviaslider" id="frontpage-slider">
      <li><a href="#1"><%= image_tag("slides/1.jpg") %></li>
      <li><a href="#2"><%= image_tag("slides/2.jpg") %></li>
    </ul>
  </div>
  
</div>
