<div class="row">
  <div id="blog-content" class="seven columns panel">
    <h2>Contact Us</h2>
    <%= simple_form_for @contact do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :subject %>
      <%= f.input :body %>
      <%= f.button :submit, "Send Email", :class => "nice" %>
    <% end %>
  </div>
  <%= render :partial => "posts/sidebar" %>
</div>