<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	
  <title>Liberty</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>
<body>
  
  <div class="topbar">
    <div class="headerimage">
      <div class="cont">
        <div id="logo" class="brand">John-Henry Liberty</div>
      </div><!-- .container -->        
    </div><!-- .fill -->
  </div><!-- .topbar -->
  
  <!-- container -->
	<div class="container">
    <div class="contentwrapper">
		  <div class="row">
  			<div class="twelve columns">
          <nav>
            <%= link_to "Stay Informed", informed_path, :id => "informed", :class => "nice medium radius blue button" %>
            <ul class="nav-bar">
              <li><%= link_to "Home", root_path, :class => "main" %></li>
              <li><%= link_to "About", about_path, :class => "main" %></li>
              <li><%= link_to "Issues", issues_path, :class => "main" %></li>
              <li><%= link_to "Volunteer", volunteer_path, :class => "main" %></li>
              <li><%= link_to "Blog", blog_path, :class => "main" %></li>
              <li><%= link_to "Contact", contact_path, :class => "main" %></li>
            </ul>
            <%= link_to "Contribute", "#", :id => "contribute", :class => "nice medium radius red button" %>
          </nav>
  				<hr />
  			</div>
  		</div>
      <% if notice %>
         <div class="alert alert-success fade in" data-alert="alert">
           <a class="close" data-dismiss='alert' href="#">×</a>
           <p><%= notice %></p>
         </div>
       <% end %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
    </div> <!-- .contentwrapper -->
  </div> <!-- .container -->

  <footer>
    <p>John-Henry Liberty for Congress '12</p>
  </footer>

</body>
</html>
